{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "extends": ["@whoj"],
  "rules": {
    "import/order": "off",
    "vue/define-macros-order": "off",
    "vue/require-explicit-emits": "off"
  }
}
